RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 400 https://error.ventistudio.fr?code=400
ErrorDocument 401 https://error.ventistudio.fr?code=401
ErrorDocument 403 https://error.ventistudio.fr?code=403
ErrorDocument 404 https://error.ventistudio.fr?code=404
ErrorDocument 500 https://error.ventistudio.fr?code=500
ErrorDocument 502 https://error.ventistudio.fr?code=502
ErrorDocument 503 https://error.ventistudio.fr?code=503

Header always set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
Header set Referrer-Policy "strict-origin-when-cross-origin"
Header set X-XSS-Protection "1; mode=block"